<div data-th-fragment="contact">
    
    
    <!-- Main modal -->
    <div id="view_contact_modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-2xl max-h-full">

            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">

                <!-- Modal header -->
                <div class="flex text-center items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    
                    <h2 class="text-center text-xl">Contact Detail</h2>
                    
                    <button onclick="closeContactModal()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="flex p-4 md:p-5 space-y-4">
                    <div>
                        <img id="contact_photo" class=" w-70 h-70 rounded-md border-x-2 border-y-2 border-black"
                        onerror="this.src='https://freesvg.org/img/abstract-user-flat-4.png'" src="" alt="Jese image" >
                    </div>

                    <div class=" pl-5 inline-block">
                        <p class="text-4xl "><span id="contact_name" class="leading-relaxed text-gray-900 dark:text-white"></span></p>
                        <p>Email: <span id="contact_email"class="text-base leading-relaxed font-bold text-gray-900 dark:text-white"></span></p>
                        <p>Phone Number: <span id="contact_phoneNumber" class="text-base leading-relaxed font-bold text-gray-900 dark:text-white">
                        </span></p>
                        <p>Address: <span id="contact_address" class="text-base leading-relaxed font-bold text-gray-900 dark:text-white">
                        </span></p>
                        <p>Description: <span id="contact_des" class="text-base leading-relaxed font-bold text-gray-900 dark:text-white">
                        </span></p>
                        <p>Website: <a id="contact_web" class="text-base leading-relaxed font-bold text-gray-900 dark:text-white">
                        </a></p>
                        <p>LinkedIn: <a id="contact_linkedin" class="text-base leading-relaxed font-bold text-gray-900 dark:text-white">
                        </a></p>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                    
                    <button onclick="closeContactModal()" data-modal-hide="default-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Close</button>
                </div>
            </div>
        </div>
    </div>
  
</div>