<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content}, ~{::title}, ~{::script})}">
<head>
    <title>Register</title>
</head>
<body >
    <div id="content" class="mt-10">
        
        <div class="grid grid-cols-12">
            <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
            
            <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
                

                <div class="block p-6 bg-white border-t-8 border-blue-600 rounded-lg shadow  dark:bg-gray-800 dark:border-blue-400" >

                    
                    <!-- message here -->
                    <div data-th-replace="~{message::messagebox}"></div>
                    
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Sign Up Here</h5>
                    <p class="font-normal text-gray-400 dark:text-gray-400">Start managing contacts on cloud..</p>
                    

                    
                    <form data-th-action="@{/do-register}" method="post"
                    data-th-object="${userForm}"
                     class="mt-8"
                     novalidate>
                        <div class="mb-8">
                            <div class="mb-3">
                                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left">Name</label>
                                <input type="text" id="name" data-th-field="*{name}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter name" required />
                                <p data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}" class="text-red-500 "></p>
                            </div>
                            

                            <div class="mb-3">
                                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left">Email</label>
                                <input type="text" id="email" data-th-field="*{email}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Email" required />
                                <p data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}" class="text-red-500 "></p></div>

                            <div class="mb-3">
                                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left">Password</label>
                                <input type="password" id="password" data-th-field="*{password}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Password" required />
                                <p data-th-if="${#fields.hasErrors('password')}" data-th-errors="*{password}" class="text-red-500 "></p></div>

                            <div class="mb-3">
                                <label for="phoneNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left">Phone Number</label>
                                <input type="text" id="phoneNumber" data-th-field="*{phoneNumber}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Phone Number" required />
                                <p data-th-if="${#fields.hasErrors('phoneNumber')}" data-th-errors="*{phoneNumber}" class="text-red-500 "></p></div>

                            
                            <div class="mb-3">
                                <label for="about" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left">About</label>
                                <textarea id="about" rows="6" data-th-field="*{about}" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write about yourself here..."></textarea>
                                <p data-th-if="${#fields.hasErrors('about')}" data-th-errors="*{about}" class="text-red-500 "></p></div>

                            
                            <div class="mt-3 flex justify-center space-x-3">
                                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>

                                <button type="reset" class="text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">Reset</button>
                            </div>
                        </div>
                    </form>
                    
                </div>

            </div>
        </div>
        
    </div>

    <script>
        console.log("signup page");
    </script>
    
</body>
</html>